@model StudentsViewModel
@{
    TempData["Title"] = "Invoices List";
}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Invoices</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Invoice">Dashboard</a></li>
<li class="breadcrumb-item active">Invoices</li>
</ul>
</div>
</div>
</div>


<div class="page-header">
<div class="row align-items-center">
<div class="col"></div>
<div class="col-auto">
<a asp-action="Index" asp-controller="Invoice"class="invoices-links active">
<i class="feather feather-list"></i>
</a>
<a asp-action="InvoiceGrid" asp-controller="Invoice" class="invoices-links">
<i class="feather feather-grid"></i>
</a>
</div>
</div>
</div>

<div class="student-group-form">
    <form asp-action="Index">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" name="ID_search"  class="form-control" placeholder="Search by ID ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="submit" name="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    </form>

</div>

   @{
                        if (@TempData["MsgS"]!=null)
                        {
                           
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
 <p>@TempData["MsgS"]</p>                
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            
                        }  
                        if (@TempData["MsgD"]!=null)
                        {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
 <p>@TempData["MsgD"]</p>                
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        }

    }
    <div class="card report-card">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-12">
                    <ul class="app-listing">
                        <li></li>
    <li>
    <div class="report-btn">
        <a  onclick="return print();" class="btn">
            <img src="assets/img/icons/invoices-icon5.png" alt="" class="me-2"> Generate report
        </a>
    </div>
</li>
</ul>
</div>
</div>
</div>
</div>

<div class="card invoices-tabs-card border-0">
<div class="card-body card-body pt-0 pb-0">
<div class="invoices-main-tabs">
<div class="row align-items-center">
<div class="col-lg-8 col-md-8">
<div class="invoices-tabs">
<ul>
<li><a asp-action="Index" asp-controller="Invoice" class="active">All Invoice</a></li>
<li><a asp-action="InvoicesPaid" asp-controller="Invoice">Paid</a></li>
<li><a asp-action="InvoiceOverdue" asp-controller="Invoice">Overdue</a></li>
<li><a asp-action="InvoiceDraft" asp-controller="Invoice">Draft</a></li>
<li><a asp-action="InvoiceCancelled" asp-controller="Invoice">Cancelled</a></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="invoices-settings-btn">
<a asp-action="AddInvoice" asp-controller="Invoice" class="btn">
<i class="feather feather-plus-circle"></i> New Invoice
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-3 col-sm-6 col-12">
<div class="card inovices-card">
<div class="card-body">
<div class="inovices-widget-header">
<span class="inovices-widget-icon">
<img src="assets/img/icons/invoices-icon1.svg" alt="">
</span>
<div class="inovices-dash-count">
<div class="inovices-amount">$ @TempData["Total_Invoices_rate"]</div>
</div>
</div>
<p class="inovices-all">All Invoices <span>@TempData["Total_Invoices"]</span></p>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12">
<div class="card inovices-card">
<div class="card-body">
<div class="inovices-widget-header">
<span class="inovices-widget-icon">
<img src="assets/img/icons/invoices-icon2.svg" alt="">
</span>
<div class="inovices-dash-count">
<div class="inovices-amount">$ @TempData["Paid_Invoices_rate"]</div>
</div>
</div>
<p class="inovices-all">Paid Invoices <span>@TempData["Paid_Invoices"]</span></p>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12">
<div class="card inovices-card">
<div class="card-body">
<div class="inovices-widget-header">
<span class="inovices-widget-icon">
<img src="assets/img/icons/invoices-icon3.svg" alt="">
</span>
<div class="inovices-dash-count">
<div class="inovices-amount">$ @TempData["Over_Invoices_rate"] </div>
</div>
</div>
<p class="inovices-all">Unpaid Invoices <span> <span> $ </span> @TempData["Over_Invoices_rate"]</span></p>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12">
<div class="card inovices-card">
<div class="card-body">
<div class="inovices-widget-header">
<span class="inovices-widget-icon">
<img src="assets/img/icons/invoices-icon4.svg" alt="">
</span>
<div class="inovices-dash-count">
<div class="inovices-amount"> <span> <span> $ </span>@TempData["Cancelled_Invoices_rate"] </span></div>
</div>
</div>
<p class="inovices-all">Cancelled Invoices <span> <span> $ </span> @TempData["Cancelled_Invoices"]</span></p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">
<div class="table-responsive">
<table class="table table-stripped table-hover datatable">
<thead class="thead-light">
<tr>
<th><a href="/Invoice/Index?orderBy=@Model.IDSort">Invoice ID</a></th>
<th>Category</th>
<th>Created on</th>
<th>Invoice to</th>
<th>Amount</th>
<th>Due date</th>
<th>Status</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>
       @foreach(Invoices? invo in Model.Invoice)
                                {
    <tr>
        <td>
            <label class="custom_check">
            <input type="checkbox" name="invoice">
            <span class="checkmark"></span>
            </label>
            <a asp-action="ViewInvoice" asp-controller="Invoice" class="invoice-link">@invo.Id</a>
            </td>
            <td>@invo.Category</td>
            <td>@invo.CreatedDate</td>
            <td>@invo.StudentFkNavigation.Name</td>
            <td>$ @invo.Rate</td>
            <td>@invo.DueDate</td>
            <td>@invo.Status</td>

            <td class="text-end">
            <div class="dropdown dropdown-action">
                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" asp-action="EditInvoice"  asp-route-SID="@invo.Id" asp-controller="Invoice" ><i class="far fa-edit me-2"></i>Edit</a>
                    <a class="dropdown-item" asp-action="ViewInvoice" asp-route-SID="@invo.Id" asp-controller="Invoice" asp-route-Name="@invo.StudentFkNavigation.Name" ><i class="far fa-eye me-2"></i>View</a>
                 </div>
            </div>
        </td>
    </tr>}
</tbody>
</table>
</div>



<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">
                @if(Model.CurrentPage>1){
                                          <li class="paginate_button page-item active">
                                                    <a href="/Invoice/Index?OrderBy=@Model.orderBy&currentPage=@(Model.CurrentPage-1)" class="page-link " area-label="Previous">Previous</a>
                                            </li>
                                    }
                                    @for (int i = 1;i<=Model.TotalPages ;i++){
                                        if (i == Model.CurrentPage)
                                        {
                                               <li class="paginate_button page-item active">
                                                    <a href="/Invoice/Index?OrderBy=@Model.orderBy&currentPage=@i" class="page-link ">@i</a>
                                            </li>
                                        }else{
                                              <li class="paginate_button page-item">
                                                    <a href="/Invoice/Index?OrderBy=@Model.orderBy&currentPage=@i" class="page-link">@i</a>
                                            </li>
                                        }
                                        
                                    }
                  @if(Model.CurrentPage<Model.TotalPages){
                                          <li class="paginate_button page-item active">
                                                    <a href="/Invoice/Index?OrderBy=@Model.orderBy&currentPage=@(Model.CurrentPage+1)" class="page-link " area-label="Next" >Next</a>
                                            </li>
                                    }
                                </ul>
        </div>
    </div>
</div>



</div>
</div>
</div>
</div>
</div>