@model StudentsViewModel
@{
    TempData["Title"] = "Subjects";
}
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Subjects</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a asp-action="Index" asp-contrller="Student">Dashboard</a></li>
<li class="breadcrumb-item active">Subjects</li>
</ul>
</div>
</div>
</div>

<div class="student-group-form">
    <form asp-action="Index">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" name="ID_search"  class="form-control" placeholder="Search by ID ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" name="temp" class="form-control" placeholder="Search by Name ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="submit" name="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    </form>

</div>
   @{
                        if (@TempData["MsgS"]!=null)
                        {
                           
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
 <p>@TempData["MsgS"]</p>                
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            
                        }  
                        if (@TempData["MsgD"]!=null)
                        {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
 <p>@TempData["MsgD"]</p>                
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            
                        }              
                          
   }


<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Subjects</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a onclick="return print();" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
<a asp-action="AddSubject" asp-controller="Subject" class="btn btn-primary"><i class="fas fa-plus"></i></a>
<a asp-action = "DeleteAll" onclick="return confirm('سيتم حذف جميع البيانات بشكل نهائي ؟');" class="btn btn-danger"><i class="fas fa-trash"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</th>
<th><a href="/Subject/Index?orderBy=@Model.IDSort">ID</a></th>
<th><a href="/Subject/Index?orderBy=@Model.NameSort">Name</a></th>
<th>Description</th>
<th>Teacher</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>
    @foreach (Subjects? sub in Model.Subject){
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td>@sub.Id</td>
<td>@sub.Name</td>
<td>@sub.Description</td>
<td>@sub.TeacherIdFkNavigation.Name</td>
 <td>
         <a asp-action="SubjectDelete" asp-route-SID="@sub.Id" onclick="return confirm('متأكد سيتم حذف بشكل نهائي ؟');" class="btn btn-danger">Delete</a>
         <a asp-action="EditSubject" asp-route-SID="@sub.Id" class="btn btn-warning">Edit</a>
     </td>
</tr>
    }

</tbody>
</table>
</div>

<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">
                @if(Model.CurrentPage>1){
                                          <li class="paginate_button page-item active">
                                                    <a href="/Subject/Index?trem=@Model.Term&OrderBy=@Model.orderBy&currentPage=@(Model.CurrentPage-1)" class="page-link " area-label="Previous">Previous</a>
                                            </li>
                                    }
                                    @for (int i = 1;i<=Model.TotalPages ;i++){
                                        if (i == Model.CurrentPage)
                                        {
                                               <li class="paginate_button page-item active">
                                                    <a href="/Subject/Index?trem=@Model.Term&OrderBy=@Model.orderBy&currentPage=@i" class="page-link ">@i</a>
                                            </li>
                                        }else{
                                              <li class="paginate_button page-item">
                                                    <a href="/Subject/Index?trem=@Model.Term&OrderBy=@Model.orderBy&currentPage=@i" class="page-link">@i</a>
                                            </li>
                                        }
                                        
                                    }
                  @if(Model.CurrentPage<Model.TotalPages){
                                          <li class="paginate_button page-item active">
                                                    <a href="/Subject/Index?trem=@Model.Term&OrderBy=@Model.orderBy&currentPage=@(Model.CurrentPage+1)" class="page-link " area-label="Next" >Next</a>
                                            </li>
                                    }
                                </ul>
        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
</div>

